@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
  display: flex;
   flex-direction: row; 
  align-items: center;
  position: fixed;
  top: 0px;
  /* left: 0px; */
  width: 100%;
  padding: 10px 20px;
  z-index: 10000;
  background-color: white;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
 /*  overflow: hidden; */
}

.headerIzquierda {
  display: flex;
  align-items: center;
  gap: 20px; 
  flex-shrink: 0; 
  position: static;
  
}

.headerDerecha {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto; 
}

.logo {
  width: 65px;
  height: 58px;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.ctext {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.linkTextInicio, .linkTextSnosotros, .linkTextContactanos {
  align-items: center;
  text-decoration: none;
  color: black;
  text-shadow: 0px 4px 5px #00000056;
}

.separador {
  border-right: 2px solid rgb(0, 0, 0);
  height: 28px;
}

.botonSpotify {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #D9D9D9;
  border: none;
  box-shadow: 0px 2px 5px #00000056;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.contenedorRedes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-right: 40px ;
  margin-left: 40px;
}
.MenuHamburger1 {
  position: absolute;
  right: 60px;
  top: 20;
  cursor: pointer;
  width: 40px;
  height: 40px;
  gap: 20px;
   display: none; 
}

.botonSpotify:hover{
  background-color: #42b883 ;
}
.linkTextInicio:hover,.linkTextSnosotros:hover,.linkTextContactanos:hover {
  background-color: #1d2e4721 ;
  border-radius: 5px;
  padding: 10px;
  
}

  @media(max-width: 921px ){
    .headerDerecha{
      align-items: center;
      background-color: #353131;
      border-radius: 0px 0px 0px 5px;
      display: block;
      flex-direction: column;
      justify-content: center;
      position: absolute; 
      padding: 15px;
      height: 300px;
      right: 30px;
      top: 18rem;
      
      z-index: 2;
    }
    
    .contenedorRedes{
      margin-top: 25px ;
      position: relative ;
     /*  margin: 5px; */
      width: 100%;
      left: -40px;
      flex-direction: column;
    }
    .iconoTiktok, .iconoX, .iconoInsta{
      display: flex;
      align-items: center;
      padding: 10px ;
      justify-content: center;
      height: 100%;
      width: 90%; 
      background-color: #D9D9D9;
      border-radius: 5px;
      text-decoration: none;
      font-size: 18px;
      color: #000000 ;
    }
    .botonSpotify{
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 100%;
      margin-bottom: 2px;
      
    }
    .iconoTiktok:hover{
      background: linear-gradient(45deg, #00f2ea, #fe2c55 ) ;
      
    }
    .iconoTiktok::after{
      font-family: 'Roboto', sans-serif;
      content: "Tik Tok";
      margin-left: 5px;
    }
    .iconoX:hover{
      background: linear-gradient(45deg,#000000, #ffffff, #000000);

    }
    .iconoX::after{
      font-family: 'Roboto', sans-serif;
      margin-left: 5px;

      content: "X (Twitter)";
    }
    .iconoInsta:hover{
      background: linear-gradient(45deg, #880afa, #fa01d3, #fb0e42, #fd6005, #eec254 ) ;
    }
    .iconoInsta::after{
      font-family: 'Roboto', sans-serif;
      margin-left: 5px;
      content: "Instagram";
    }

    .MenuHamburger1{
      display: block;
    }
    .headerIzquierda{
      display: flex;
      align-items: center;
      background-color: #353131;
      display: block;
      flex-direction: column;
      justify-content: center;
      /* opacity: 0.9; */
      position: absolute; 
      padding: 15px;
      height: 180px;
       width: 220px; 
      right: 26px;
      top: 79px;
      /* display: none; */
      
      z-index: 3;

    }
    .ctext{
      align-items: center;
      justify-content: center;
      /* position: absolute; */
       width: 199px;
       flex-direction: column;
       top: 2px;
       margin-left: 0px;
       gap:25px;
       padding: 5px;
       
      
    }
    .linkTextInicio, .linkTextSnosotros, .linkTextContactanos{
      align-items: center;
      justify-content: center;
      text-align: center;
      text-shadow: none;
      width: 100%;
      background: #D9D9D9;
      padding: 10px;
      border-radius: 5px;
    }
    .separador{
      display: none;
    }
    .linkTextInicio:hover{
      background:#9b9b9b ;
    }
    .linkTextSnosotros:hover{
      background:#FFD343 ;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiBmaWxsPSIjMDAwMDAwIiBmaWxsLW9wYWNpdHk9IjAuMDUiLz48L3N2Zz4=");
        background-repeat: repeat;
    } 
    .linkTextContactanos:hover{
      background:#D44949 ;
    }
    
    .show {
  display: block ;
  }
  .hide {
  display: none;
  }
  }

