.footer{
    display: flex;
    flex-direction: row;
    background-color: #2F2D2D;
    width:100%;
    bottom: 0;

    
}
.segundoFooter{
  display: flex;
    flex-direction: row;
    background-color: #6A6767;
    width:100%;
    bottom: 0;  
    height: 25px;
}
.textoCopy{
    color: #2F2D2D;
}